<header>
    <div class="container">
        <h1>Vahe Taamazyan</h1>
        <p class="subtitle">Senior Research Scientist in 3D Computer Vision for Robotics</p>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/#papers-section' | relative_url }}">Papers</a></li>
                <li><a href="{{ '/#projects-section' | relative_url }}">Projects</a></li>
                <li><a href="{{ '/#blog-section' | relative_url }}">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
