<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="bc6d5036-937a-4d3d-b810-10df1154a71a"></script>
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
    <meta name="msapplication-TileColor" content="#0066cc">
    <meta name="theme-color" content="#0066cc">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    {% if page.layout == 'post' %}
    {% include header.html %}
    {% endif %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
